extends ./layouts/default

block title
  title Nest Server Pug

block content
  .page
    ul.posts
      each article in articles
        li.post
          a.link(href=article.link, target='_blank', title=article.title)= article.title
          span.platform= article.platform